.app,
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  overflow: hidden;
}
.canvas {
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
}

.debug {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  background: black;
  padding: 1rem;
  color: white;
}
.debug.active {
  display: block;
}
